# Copy from https://github.com/github/gitignore/blob/master/C%2B%2B.gitignore
# Commit ID: 2c52d023ddb520962d1aa81ab030ee5172261eb2

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
